<div class="container">
  <div class="col-lg-6 col-lg-offset-3">
    <h3><%=@train.first.fetch("city")%> #<%=@train.first.fetch("number")%></h3>
    <div class="well">
      This is important.
    </div>
  </div>
</div>
